<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="com.GetDetailsofPushpaMovie.Utilities.Reporting"/>
  </listeners>
  <test thread-count="5" name="Validation of Date and Country from IMDB">
  <parameter name="browser" value="IMDB"></parameter>
    <classes>
      <class name="com.GetDetailsofPushpaMovie.TestCases.ValidationDateandCountryIMDB"/>
    </classes>
  </test> <!-- Validation of Date and Country from IMDB -->
  
  <test thread-count="5" name="Validation of Date and Country from WIKI">
  <parameter name="browser" value="WIKI"></parameter>
    <classes>
      <class name="com.GetDetailsofPushpaMovie.TestCases.ValidationDateandCountryWIKI"/>
    </classes>
  </test> <!-- Validation of Date and Country from WIKI -->
</suite> <!-- Suite -->
